<a href="https://colab.research.google.com/github/calvinlua/Pandas_Colab/blob/main/Pandas_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Learning Cheat Sheet
[W3School](https://www.w3schools.com/python/pandas/pandas_dataframes.asp)

### Versioning
Check Version of numpy and pandas library used

In [ ]:
import pandas as pd 
import numpy as np
print("pandas version:" + pd.__version__)
print("numpy version:" +np.__version__)

pandas version:1.3.5
numpy version:1.21.6

## Pandas - Basic Walkthrough

### 1.1 Create dataframe 


---


Create table with raw data with `panda.dataframe`

In [ ]:
mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

### 1.2 Pandas Series


---

What is a Series?
A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [ ]:
a = [1, 7, 2]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

###1.3 Labels

---



If nothing else is specified, the values are labeled with their ***index number*** . First value has index 0, second value has index 1 etc.

This label can be used to access a specified value.

In [ ]:
# Get value from index 1 
print(myvar[0])

1

###1.4 Create Labels

---


With the index argument, you can name your own labels.

In [ ]:
a = [1, 7, 2]
# name index with "x,y,z" to reference to a[0],a[1],a[2]
myvar = pd.Series(a, index = ["x", "y", "z"])
print(myvar)

x    1
y    7
z    2
dtype: int64

When you have created labels, you can access an item by referring to the label.

In [ ]:
# Call data with index "y" ( must use in the form of string)
print(myvar["y"])

7

###1.5 Key/Value Objects as Series


---


You can also use a key/value object, like a ***dictionary***, when creating a Series.
> Note: The keys of the dictionary become the labels.

In [ ]:
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

Create a Series **using only** data from "day1" and "day2":

In [ ]:
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories, index = ["day1", "day2"])
print(myvar)

day1    420
day2    380
dtype: int64

### 1.6 DataFrames

---


Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

Series is like a column, a DataFrame is the whole table.

In [ ]:
read_data=pd.read_csv('https://storage.googleapis.com/tf-datasets/titanic/train.csv')
column=read_data.pop('sex')
print(column)

0        male
1      female
2      female
3      female
4        male
        ...
622      male
623      male
624    female
625    female
626      male
Name: sex, Length: 627, dtype: object

### 1.7 What is a DataFrame?
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

>Note: To store data structure in a single variable( like Data Structure in PLC

In [ ]:

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

Additional Info

In [3]:
number=100
while number>0:
  print (number)
  # number /=2
  number//=2

100
50
25
12
6
3
1

In [5]:
command=""
while command.lower != "quit":
  command = input("@")
  print("ECHO",command)

KeyboardInterrupt: ignored